<div class="container">
  <h1 class="track-name"><%= @track.name %></h1>
  <div class="grid">
    <div>
      <p><%= @track.description %></p>
      <a href="">Share this track</a>
    </div>
    <div>
      <%= cl_image_tag @track.image.key, crop: :fill %>
    </div>
  </div>

</div>

