// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue2: #16a596;
$blue: #3797a4;
$dark-blue: #1f6f8b;
$light-blue: #8bcdcd;
$beige: #fbf7f0;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
