// Specific CSS for your home-page
.input-box {
  padding: 10px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}

.slogan {
  margin-top: 32px;
  margin-bottom: 64px;
  color: white;
  font-family: $headers-font;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.discover-button {
  background-color: $blue;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.discover-button:hover{
  background-color:beige;
  color: $blue;
  text-decoration: none;
}

.description-box {
  width: 100%;
  margin: 0 auto;
  padding: 100px;
  height: 100vh;
  text-align: center;
  position: relative;
}

.how-it-works {
  display: inline-block;
  padding-bottom: 100px;
  font-size: 50px;
  opacity: 80%;
}

.card-container{
  width: 250px;
  text-align: center;
}

.img-circular{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.card-description{
  font-family: $body-font;
  font-size: 20px;
  padding-top: 40px;
}
