// Specific CSS for your home-page

.banner-content{
  margin-top:32px;
}

.input-box {
  padding: 10px;
  border: none;
  margin-right: 8px;
  font-size: 17px;
}

.slogan {
  margin:16px;
 
  color: white;
  font-family: $headers-font;
  text-align: center;
  font-size: 36px;
}

.discover-button {
  background-color: $blue;
  color: white;
  padding: 12px 28px;
  border-radius: 8px;
  margin: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.discover-button:hover{
  background-color:beige;
  color: $blue;
  text-decoration: none;
}

.description-box {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 100px;
}

.card-contrainer{
  width: 200px;
  text-align: center;
}

.card-contrainer-bottom-one{
  width: 200px;
  text-align: center;
}

.card-contrainer-bottom-two{
  width: 200px;
  text-align: center;
}

.img-circular{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.card-description{
  font-family: $body-font;
  font-weight: bold;
  font-size: 20px;
  padding-top: 16px;
}

