.map-page{
  height: 100vh;
  width: 100%;
}

.text-header{
  text-align: center;
}

.container{
  width: 100vw;
  position: relative;
  height: 100px;
  margin-top: 80px;
}

.header-style{
  color: $dark-blue;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: $logo-font;
}

.runners-list{
 padding-left: 52px;
}

.current-user-img {
  height:100px;
  width:100px;
  margin-bottom:20px;
  border-radius: 50%;
  border-radius: 2px solid $blue;
  margin-left: 5px;
  
}

.card-img-top {
  height:100px;
  width:100px;
  margin-bottom:20px;
  border-radius: 50%;
  margin-left: 5px;
}

.highlight{
  border: 3px solid $blue;
}

.find{
  margin-left: 32px;
  color: $blue;
  text-decoration: none;
  background-color: $beige;
  border: 1px solid $blue;
  padding: 8px 18px;
  font-weight: bolder;
}
