.map-page {
  height: auto;
  width: 100%;
}

.text-header {
  text-align: center;
}

.container {
  width: 100vw;
  position: relative;
  height: auto;
  margin-top: 65px;
  margin-bottom: 65px;
}

.header-style {
  color: $dark-blue;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: $logo-font;
}

.runners-list {
  padding-left: 52px;
}

.current-user-img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  border-radius: 2px solid $blue;
  margin-left: 5px;
}

.card-img-top {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  margin-left: 5px;
}

.highlight {
  opacity: 50%;
  transform: scale(1.05);
  transition: 0.5s ease;
}

.find {
  margin-left: 32px;
  color: $blue;
  text-decoration: none;
  background-color: $beige;
  border: 1px solid $blue;
  padding: 8px 18px;
  font-weight: bolder;
}

.runner-toggle {
  position: absolute;
  left: 16px;
  color: $blue;
  border: none;
  font-size: 28px;
  display: none;
  z-index: 2;
}

.runner-cards.open {
  display: block;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .runners-page {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .runner-toggle {
    display: block;
  }
  .runner-cards {
    display: none;
  }

  .mapOpen {
    margin: auto;
    text-align: center;
    transform: translate(40%);
  }

  .search-form {
    margin: 0 auto;
    align-items: center;
  }
}
