#query.form-control {
  width: 300px;
}
.tracks-list {
  padding-left: 0;
}

.track-card-img {
    height: 10em;
    width: 18em;
    // margin-left: 1em;
    border-radius: 0.3em
  }

.card-body {
  padding: 10px 20px;
}

.card-body h3 {
    font-size: 25px;
    font-family: $body-font;
  }
  .cards :hover {
    opacity: .8;
    text-decoration: none;
  }
.card-body p {
  margin-bottom: 0.4em;
}

.track-keywords {
  display: inline;
}
.add-track {
  color: #fff;
  background-color: $light-blue;
  padding: 8px 16px 11px 16px;
  border-color: #3797a4;
  border-radius: 2px;
}
.add-track:hover {
  text-decoration: none;
}

.one-keyword {
  display: inline-block;
  padding: 7px;
  background-color: $light-blue;
  color: white;
  margin: 2px;
  border-radius: 32px;
  font-size: 13px;
}
  .highlight{
    opacity: 50%;
    transform: scale(1.05);
    transition:  0.5s ease;
  }

  .track-card{
    background-color: $blue;
    margin-bottom: 15px;
    background-size: cover;
    height: 250px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 25% 0 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    font-size: 16px;
  }

  .track-card h3 {
    font-size: 24px;
  }

  .track-card p {
    font-size: 14px;
  }
  .track-img{
    height: 100%;
    width: 50%;
    border-radius: 25% 0 0 0;
  }
  .track-link-hover {
    text-decoration: underline;
  }
