.track-name {
  text-align: center;
  color: #1f6f8b;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: $body-font;
  font-weight: bold;
}
.track-image {
  width: 100%;
}
.description-box {
  font-size: 1.2em;
  padding: 0;
  text-align: justify;
  font-family: $body-font;
  height: auto;
}
.share-btn {
  background-color: $blue;
  padding:5px;
  border-radius: 4px;
  color: white;
  display: block;
  margin-top: 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
}
.share-btn:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.keyword-title {
  font-weight: bold;
  margin-bottom: 0;
}
