<div class="container">
<p>this page will show a list of past conversations<p>

<% @conversations.each do |conversation| %>
    <% if @user.id == conversation.user1_id %>
    <p>Conversation with <%= conversation.user2.first_name %> <p>
    <% elsif @user.id == conversation.user2_id %>  
    <p>Conversation with <%= conversation.user1.first_name %> <p>
    <% end %> 
<% end %> 
</div>