<div class="chat-page">

  <div class="chat-bar">  
    <% @conversations.each do |conversation| %>
      <% if @user.id == conversation.user1_id %>
        <%= cl_image_tag conversation.user2.image.key, height: 25, width: 25, crop: :fill, class: "chat-avatar-small" %>
        <%= link_to conversation.user2.first_name, conversation %>  
      <% elsif @user.id == conversation.user2_id %>  
        <%= cl_image_tag conversation.user1.image.key, height: 25, width: 25, crop: :fill, class: "chat-avatar-small" %>
        <%= link_to conversation.user1.first_name, conversation %> 
      <% end %> 
    <% end %> 
  </div>

  <div class="chatroom">
  </div>
</div>