<div class="chat-page">

  <div class="chat-bar">  
    <% @conversations.each do |conversation| %>
      <% if @user.id == conversation.user1_id %>
        <%= link_to conversation.user2.first_name, conversation %>  
      <% elsif @user.id == conversation.user2_id %>  
        <%= link_to conversation.user1.first_name, conversation %> 
      <% end %> 
    <% end %> 
  </div>

  <div class="chatroom">
  </div>
</div>