<div class="card-trip">
    <%= image_tag "fake-avatar.jpg", :class=> "runner-img"%>
    <div class="card-trip-infos">
      <div>
        <h2>John Smith</h2>
        <p>Hello! I'm John from Sydney</p>
      </div>
      <h2 class="card-trip-pricing">Level.7</h2>
    </div>
    <div class="card-description">
      <h2> location: Sydney</h2>
      <h2> gender: male</h2>
      <h2> age: 27</h2>
    </div>
  </div>
  