<%= form_tag runners_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "input-box",
    placeholder: "Where do you live?"
  %>

  <select class="running-level" name="running-level">
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
  </select>

  <select class="gender" name="gender">
    <option value="">Female</option>
    <option value="">Male</option>
  </select>

  <select class="preferred-day" name="preferred-day">
    <option value="">Weekdays</option>
    <option value="">Weekend</option>
  </select>

  <select class="preferred-time" name="preferred-time">
    <option value="">Morning</option>
    <option value="">Afternoon</option>
    <option value="">Evening</option>
  </select>

  <select class="pet" name="pet">
    <option value="">Yes</option>
    <option value="">No</option>
  </select>

  <%= button_tag(type: "submit", class: "btn btn-lg btn-primary") do %>
Find
  <% end %>
<% end %>
