<<<<<<< HEAD
<h1>Pages#home</h1>

<div>
<%= image_tag 'main.jpg' , alt: 'Alt Image Text', width: 800%>
</div>
=======
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513593771513-7b58b6c4af38?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2089&q=80);">
  <div class="container">
    <h1>We-runners</h1>
  </div>
</div>

>>>>>>> 86e86f2477d2d4dfee6e1905974ac6bb4737e4a9
