.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: cover;
  object-fit: cover;
}

.avatar:hover {
  cursor: pointer;
  border: 2px solid $blue;
}

.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.user-avatar {
  border-radius: 0.5em;
  margin: 0.3em;
}
.buddy-avatar {
  border-radius: 50%;
  background: cover;
  object-fit: cover;
}

.avatar-buddy {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}
.avatar-request {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 1em;
}
.avatar-square-profile {
  width: 200px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}