.profile-page{
  height: auto;
}

.request-box{
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1em;
}

.user-avatar{
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.user-info-box {
  background-color: $blue;
  height: 64vh;
  text-align: center;
  padding: 16px;
  margin-right: 2em;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.request-received-box {
  background-color: $beige;
  margin-bottom: 3em;
  padding: 0.5em;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 2px 8px 0px;
}
.request-sent-box {
  background-color: $beige;
  margin-bottom: 3em;
  padding: 0.5em;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 2px 8px 0px;
}
.user-info-text {
  background-color: $beige;
  border-radius: 0.5em;
  padding: 1.2em 0.7em;
  margin: 0.3em;
}
.user-info-text p {
  margin-bottom: 0.2em;
}
.user-info-name {
  text-align: center;
  margin: 0.7em 0.3em;
  opacity: 80%;
}
.buddies-part {
  width:100%;
}

.part-title {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 24px;
  font-family: $headers-font;
}
.all-buddies {
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  background-color: $beige;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 2px 8px 0px;
}
.buddy-card {
  display: flex;
  padding: 0.6em;
  margin: 0.3em 0.4em;
  border-radius: 0.4em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $light-blue;
  width: 350px;
}
.buddy-card-text {
  width: 100%;
  height: auto;
}
.buddy-card-text p {
  margin-bottom: 0;
}
.one-buddy {
  text-align: center;
  padding: 10px;
}
.one-buddy p {
  margin-bottom: 0;
}

.one-sent-request {
  padding: 0.6em 1em;
  margin: 0.5em;
  border-radius: 0.4em;
  background-color: $light-blue;
  // box-shadow: $light-blue 0px 2px 8px 0px;
  width: 15em;
}
.one-sent-request p {
  margin-bottom: 0;
}
.one-received-request {
  display: flex;
  padding: 0.6em 0.6em;
  margin: 0.5em;
  border-radius: 0.4em;
  width: 98%;
  background-color: $light-blue;
  // box-shadow: $light-blue 0px 2px 8px 0px;
}
.one-received-request p {
  margin-bottom: 0;
}

.sent-box-align{
  width: 200px;
  text-align: left;
}
.chat-button {
  border-radius: 4px;
  text-decoration: none;
  padding: 4px;
  width: 100%;
  margin-right: 10px;
  margin-top: 5px;
  color: #fff;
  background-color: $dark-blue;
  border-color: #3797a4;
  font-weight: bold;
  border: none;
}
.chat-button:hover {
  text-decoration: none;
  color: #fff;
}
.request-button {
  background-color: #3797a4;
  border: none;
  padding: 4px 15px;
  color: white;
  margin-right: 1em;
  margin-top: 0.3em;
  border-radius: 4px;
  font-size: 1em;
}
.request-button:hover {
  color: white;
  background-color: $dark-blue;
  text-decoration: none;
}
.btn-box {
  display: flex;
  justify-content: center;
}
.request-title {
  color: #1f6f8b;
  margin-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}
