.for-flex-box {
  display: flex;
}
.user-info-box {
  background-color: $blue;
  margin-right: 2em;
  padding: 0.8em;
}
.user-info-text {
  background-color: $beige;
  border-radius: 1em;
  padding: 1em;
}
.user-info-text p {
  margin-bottom: 0.1em;
}
.user-info-name {
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
}
.user-buddies {
  margin-top: 1em;
}
.user-buddies h4 {
  text-align: center;
  margin-bottom: 1em;
}
.one-buddy {
  text-align: center;
}
.all-buddies {
  display: flex;
  justify-content: space-around;
}
