.calendar-heading {
  display: flex;
  justify-content: space-between;
}
.calendar-heading a {
  text-decoration: none;
  color: $blue;
  // font-fmaily: ;
}
.table p {
  font-size: 0.8em;
  margin-bottom: 0.4em;
}
table, th, td {
  border: 1px solid blue;
}
.day {
  background-color: $beige;
}
.has-events {
  background-color: $light-blue;
}
.calendar-title {
  font-weight: lighter;
  margin-bottom: 0.7em;
  font-size: 1.5em;
  font-family: $body-font;
  letter-spacing: -1px;
}
.table thead th {
  text-align: center;
}
