.calendar-heading {
  display: flex;
  justify-content: space-between;
}
.calendar-heading a {
  text-decoration: none;
}
.table p {
  font-size: 0.6em;
  margin-bottom: 0.4em;
}
table, th, td {
  border: 1px solid blue;
}
.day {
  background-color: $beige;
}
.has-events {
  background-color: #72c2cd;
}
.calendar-title {
  font-weight: bold;
  margin-bottom: 0.7em;
  font-size: 1.3em;
}
.table thead th {
  text-align: center;
}
