.calendar-heading {
  display: flex;
  justify-content: space-between;
}
.table p {
  font-size: 0.6em;
  margin-bottom: 0.4em;
}
table, th, td {
  border: 1px solid blue;
}
.day {
  background-color: $beige;
}
.has-events {
  background-color: #72c2cd;
}
