.chat-page {
  display: flex;
  justify-content: space-between;
}

.chat-bar {
  position: sticky;
  top: 70px;
  margin-right:50px;
  padding: 20px 0px;
  width: 160px;
  height: 200vh;
  font-family: $headers-font;
  background-color: $blue;
  text-align: center;
}

.chat-bar a:link, { 
  text-decoration: none ; 
  color: white;
  opacity: 50%;
}

.chat-bar a:hover, .chat-bar a:active, .chat-bar a:visited { 
  text-decoration: none ; 
  color: white;
  opacity: 100%;
}

.chatroom {
  flex-grow: 1;
  padding: 20px 20px;
}

.chat-part {
  overflow: scroll;
  margin-bottom: 20px; 
}


.author {
  font-family: $headers-font;
  margin: 0;
}

.time {
  font-family: $body-font;
  opacity: 80%;
}

.type-box {
  display: inline-block;
  border-radius: 4px;
}

.form {
  background: $beige;
  position: sticky;
  bottom: 0;
  padding-bottom: 20px;
}

.submit-button {
  background-color: $blue;
  color: white;
  border-radius: 4px;
}

.submit-button {
  text-decoration: none;
  color: white;
  opacity: 50%;
}

.submit-button:hover {
  color: white;
  text-decoration: none;
  opacity: 100%;
}