footer {
  bottom: 0;
  width: 100%;
  height: 11rem;
  text-align: center;
  background-color: $light-blue;
  color: white;
  padding-top: 32px;
}

.footer-logo{
  font-family: $logo-font;
  font-size: 30px;
}

.team-members{
  padding-right: 32px;
}

.contact{
  color: white;
}