#map {
  position: sticky;
  top: 10px;
  border: 2px $blue solid;
  border-radius: 32px;
}

.mapboxgl-popup {
  max-width: 200px;
}


.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  .img{
    width:70px;
  }
}

.marker {
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-size: 50px;
  border-radius: 50%;
  cursor: pointer;
  }

.marker:hover{
  padding: 30px;
}

.search-option{
  margin-bottom: 32px;
}

