
#map {
  position: sticky;
  top: 0;
  border: 4px $light-blue solid;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  .img{
    width:70px;
  }
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  }

.marker:hover{
  padding: 30px;
}

.search-option{
  margin-bottom: 32px;
}
