.event-modal {
  display: none;
}
.event-content {
  position: absolute;
  left: 29%;
  top: 33%;
  background-color: $beige;
  border-radius: 4px;
  border: 3px solid $blue;
  padding: 10px 20px;
  font-family: $body-font;
  font-size: 1.4em;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.modal-close {
  cursor: pointer;
}
.event-click {
  cursor: pointer;
}
.modal-close.text-right {
  margin-bottom: 0;
}
.event-content p {
  margin-bottom: 0.2em;
}
