.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.img-circle{
  border-radius: 50%;
}

// .navbar{
//   position: absolute;
//   width: 100%;
//   background: transparent;
//   box-shadow: none;
// }

.nav-link{
  color: $blue;
  font-size: 20px;
}

.nav-link:hover{
  color: $dark-blue;
}
