.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.img-circle{
  border-radius: 50%;
}


.navbar{
  position: sticky;
}

.nav-link{
  color: $blue;
  font-size: 18px;
  font-weight: bold;
}

.nav-link:hover{
  color: $dark-blue;
}

.nav-item{
 padding-right: 8px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: $beige;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
