.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand{
  border-radius: 50%;
}

.navbar{
  position: sticky;
  top:0;
  width: 100%;
  background: $beige;
  box-shadow: none;
  .nav-item{
    color: $beige;
    font-weight: bold;
    font-size: 20px;
  }
}

.nav-item:hover{
  color: $beige;
}
