.runner-card{
  margin: 8px 0;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
.runner-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
}

.card-popup{
padding-top: 16px;
background-color: $light-blue;
margin: 8px 16px;
text-align: center;
}
