.card-container{
  gap: 50px;
}

.runner-card{
  background-color: $blue;
  margin-bottom: 20px;
  background-size: cover;
  height: 180px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 25% 0 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.runner-img{
  height: 100%;
  width: 16em;
  margin: 0;
  left: 0;
  border-radius: 25% 0 0 0;
}

.runner-card-text{
  width: 40%;
  padding: 10px;
  text-align: left;
}

.runner-card-header{
  font-size: 16px;
  margin: 0;
}

.runner-card-location{
  font-weight: lighter;
  font-size: 13px;
}

.runner-card:hover {
  transform: scale(1.05);
  transition:  0.5s ease;
  opacity: 50%;
}

.popup-card{
  background: $white;
  border: 3px solid $blue;
  border-radius: 24px;
  display: none;
  position: fixed;
  z-index: 1;
  top: 5em;
  left: 35em;
  float: left;
  width: 400px;
  height: 610px;
  overflow: auto;
  margin: 8px 16px;
  padding: 40px 32px;
  text-align: center;
}

.small-popup-card{
  background: $white;
  border: 3px solid $blue;
  border-radius: 24px;
  display: none;
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 400px;
  height: 300px;
  overflow: auto;
  margin: 8px 16px;
  padding: 40px 32px;
  text-align: center;
}

.close {
  color: $blue;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.runner-card-img{
  height:200px;
  width:200px;
  object-fit: cover;
  background: cover;
  border-radius: 16px;
  margin: 20px 0 20px 5px;
}
