::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $beige; 
  border: 1px solid #d2d3c9;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-blue; 
}
